# Python virtual environment
.venv/
.venv-tsp/

# Python cache
__pycache__/

# Input video (large files)
jumbled_video.mp4

# Output files (don't need to be tracked)
reconstructed_video.mp4


# VS Code settings
.vscode/

#Random Frames 
frames/